.experiences {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0%;
    list-style: none;
}

.experiences p:first-of-type img {
    margin-right: .5rem;
    width: 13px;
}

.experiences span {
    font-weight: 700;
}

.experiences p:first-of-type {
    font-size: 12px;
    margin-top: .5rem;
}

.experiences p:last-of-type {
    text-align: justify;
    font-size: 13px;
    margin-bottom: 1.5rem;
}